/* Navbar Container */
.nav {
  
  font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
    color: #fff;
  }
  
  /* Logo */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    /* text-transform: uppercase; */
  }
  .nav h1 span {
    color: #61dafb;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  /* Navigation Items */
  .nav-item {
    font-size: 1rem;
  }
  
  /* Links */
  .nav-link {
    text-decoration: none;
    color: #61dafb;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #21a1f1;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }
  
    .nav-item {
      width: 100%;
    }
  }
  